:host {
  ---kvlm-handle-color: var(--kvlm-handle-color, #f4f4f4);
  ---kvlm-handle-size: var(--kvlm-handle-size, 30px);
}

:host {
  display: block;
  height: var(---kvlm-handle-size);
  width: var(---kvlm-handle-size);
  transform: translate(calc(var(---kvlm-handle-size) / -2), calc(var(---kvlm-handle-size) / -2));

  font-size: 0;
  line-height: 0;

  border-radius: calc(var(---kvlm-handle-size) / 2);
  background-color: var(---kvlm-handle-color);

  cursor: pointer;
  user-select: none;
}

:host([data-dragging]) {
  cursor: grabbing;
}
