:host {
  ---kvlm-handle-color: var(--kvlm-handle-color, #f4f4f4);
  ---kvlm-handle-size: var(--kvlm-handle-size, 30px);
}

/* stylelint-disable-next-line no-duplicate-selectors */
:host {
  display: block;
  width: var(---kvlm-handle-size);
  height: var(---kvlm-handle-size);

  font-size: 0;
  line-height: 0;

  background-color: var(---kvlm-handle-color);

  border-radius: calc(var(---kvlm-handle-size) / 2);
  transform: translate(calc(var(---kvlm-handle-size) / -2), calc(var(---kvlm-handle-size) / -2));

  cursor: pointer;

  user-select: none;
}

:host([data-dragging]) {
  cursor: grabbing;
}
