:host {
  position: fixed;
  inset: 0;
}

figure {
  position: absolute;

  width: auto;

  height: 100%;

  margin: 0;
  padding: 0;

  transform: translate(-50%, -50%);
  inset: 50% auto auto 50%;
}

kvlm-player {
  width: auto;
  height: 100%;

  :host([editing]) & {
    cursor: move;
  }
}
