:host {
  position: fixed;
  inset: 0;
}

figure {
  position: absolute;
  inset: 50% auto auto 50%;

  margin: 0;
  padding: 0;

  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

kvlm-player {
  height: 100%;
  width: auto;

  :host([editing]) & {
    cursor: move;
  }
}
