svg {
  position: absolute;

  width: calc(100% + 10px);
  height: calc(100% + 10px);
  inset: -5px;

  > rect {
    display: none;

    fill: none;
    stroke: #f4f4f4;
    stroke-width: 5px;
    stroke-dasharray: 10px;
    vector-effect: non-scaling-stroke;

    :host([editing]) & {
      display: block;
    }
  }
}

#media {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;

  :host([interactive]) & {
    opacity: 0.5;
  }

  p& {
    display: flex;

    align-items: center;
    justify-content: center;
    margin: 0;

    background-color: #333;

    aspect-ratio: 1;
  }
}
